- content_for :title do
  ng

- content_for :head do
  = javascript_include_tag 'ng'
  = stylesheet_link_tag 'ng'

.row(ng-controller="resourcesCtrl")
  .large-4.columns
    .panel.radius
      .section-container.vertical-nav
        %img.radius(ng-src="{{loggedInUser.picture}}")
        %p(class="right")
          notifications: {{loggedInUser.notifications}}
        %section.section(ng-repeat="user in users")
          %p.title
            %a.glow(id="user-{{user.id}}" ng-click="userLogin(user.id)")
              %span.name {{user.name}}

  #all-posts.large-8.columns
    .panel.radius(ng-repeat="post in posts")
      .row
        .large-2.columns
          %img.radius(ng-src="{{users[post.user_id].picture}}")
        .large-10.columns
          %time {{post.updated_at}}
          %p {{post.msg}}
