- content_for :title do
  ng

- content_for :head do
  = javascript_include_tag 'ng'
  = stylesheet_link_tag 'ng'

.row(ng-controller="resourcesCtrl")
  .large-4.columns
    .panel.radius
      .section-container.vertical-nav
        %section.section(ng-repeat="user in users")
          %p.title
            %a.glow(id="user-{{user.id}}" ng-click="userLogin(user.id)")
              %img.radius(ng-src="{{user.picture}}")
              %span.name {{user.name}}

  .large-8.columns
    .panel.radius(ng-repeat="post in posts")
      %p {{post}}
