
.row(style="position:relative; margin: auto; width:0;")
  %div(ngapp-notify="{{notification}}" delay="1000")

.row(ng-controller="commandCntl")
  .large-12.columns
    %form(ng-submit="runCommand()")
      %span.prefix(ng-show="loggedInUser.id") @{{loggedInUser.name}}
      %input(type="text" placeholder="{{placeholder}}" ng-model="command")

.row
  #all-posts.large-12.columns(ng-cloak)
    .panel.radius(ng-repeat="post in posts" id="post-{{post.id}}"
                  ng-mouseenter="showDelete(post.id, post.user_id==loggedInUser.id)"
                  ng-mouseleave="showDelete(post.id, false)")
      .row
        .large-1.columns
          %img.radius(ng-src="{{users[post.user_id].picture}}")
        .large-11.columns
          %span.post-id {{post.id}}
          %time.timeago(datetime="{{post.updated_at}}" ng-bind="properTime(post.updated_at)")
          %a.delete-button(ng-click="deletePost(post.id)")
            %i.icon-remove-sign
          %pre(ng-bind="post.msg")
          %div(id="post-{{reply.id}}"
               ng-repeat="reply in post.replies|reverse"
               ng-mouseenter="showDelete(reply.id, reply.user_id==loggedInUser.id)"
               ng-mouseleave="showDelete(reply.id, false)")
            %hr
            .row
              .large-1.columns
                %img.radius(ng-src="{{users[reply.user_id].picture}}")
              .large-11.columns
                %span.post-id {{reply.id}}
                %time.timeago(datetime="{{reply.updated_at}}" ng-bind="properTime(reply.updated_at)")
                %a.delete-button(ng-click="deletePost(reply.id)")
                  %i.icon-remove-sign
                %pre(ng-bind="reply.msg")
