
.row(style="position:relative; margin: auto; width:0;")
  %div(ngapp-notify="{{notification}}" delay="1000")

.row(ng-controller="commandCntl")
  .large-12.columns
    %form(ng-submit="runCommand()")
      %span.prefix(ng-show="loggedInUser.id") @{{loggedInUser.name}}
      %input(type="text" placeholder="{{placeholder}}" ng-model="command")

.row
  #all-posts.large-12.columns(ng-cloak)
    .panel.radius(ng-repeat="post in posts" id="post-{{post.id}}"
                  ng-mouseenter="showDelete(post.id, post.user_id==loggedInUser.id)"
                  ng-mouseleave="showDelete(post.id, false)")
      %ngapp-post(user-photo="{{users[post.user_id].picture}}"
        post-id="{{post.id}}"
        post-time="{{post.updated_at}}"
        delete-post="deletePost(post.id)"
        post-message="{{post.msg}}")
      .row
        .large-11.large-offset-1.columns
          %div(id="post-{{reply.id}}"
               ng-repeat="reply in post.replies|orderBy:'updated_at'"
               ng-mouseenter="showDelete(reply.id, reply.user_id==loggedInUser.id)"
               ng-mouseleave="showDelete(reply.id, false)")
            %hr
              %ngapp-post(user-photo="{{users[reply.user_id].picture}}"
                post-id="{{reply.id}}"
                post-time="{{reply.updated_at}}"
                delete-post="deletePost(reply.id)"
                post-message="{{reply.msg}}")

