
.row(ng-controller="commandCntl" ngapp-stick)
  .large-12.columns
    %form(ng-submit="runCommand()" ngapp-notify="{{notification}}" delay="1000")
      .row.collapse
        .large-1.columns
          %span.prefix(ng-show="loggedInUser.id") {{loggedInUser.name}}
          %span.prefix(ng-hide="loggedInUser.id") ت
        .large-11.columns
          %input(type="text" placeholder="{{placeholder}}" ng-model="command")

.row
  #all-posts.large-12.columns(ng-cloak)
    .post(ng-repeat="post in posts" id="post-{{post.id}}")
      %div(ngapp-post="post" post-class="panel radius")

.row
  .large-12.columns
    %span.prefix(ng-click="next_week_posts()" ngapp-notify="{{next_week_loading}}" delay="1000")

