- content_for :head do
	= stylesheet_link_tag 'timeline'

- content_for :script do
	= javascript_include_tag 'timeline'

.row.top-bottom-21px-gap
	.col-md-2
		.img-circle.inline-profile-photo.center.shadow-centered
			%span
				>_
	.col-md-10
		.round5.command-bar.shadow-downward
			%img.my-arrow-box(src="/assets/timeline-images/arrow-box.png")
			.row(ng-controller="commandCntl")
				%form.navbar-form(ng-submit="runCommand()")
					.col-md-2
						%img.img-circle(ng-src="{{loggedInUser.picture}}" ng-show="loggedInUser.id")
					.col-md-9.input-group
						%input.form-control(type="text" placeholder="{{placeholder}}" ng-model="command")
						%span.input-group-btn
							%button.btn.btn-info(type="submit")
								Go!

.row(ng-controller="resourcesCtrl")
	%div(ng-repeat="post in posts" id="post-{{post.id}}")
		%div(timeline-post="post")

	.center
		%a.next_week_btn(ng-click="next_week_posts()"
                		 ngapp-notify="{{next_week_loading}}"delay="1000"
                		 ) Next week posts ...
