- content_for :head do
	= stylesheet_link_tag 'timeline'

- content_for :script do
	= javascript_include_tag 'timeline'

.row.top-bottom-21px-gap
	.span2
		.img-circle.inline-profile-photo.center.shadow
			%span
				>_
	.span10
		.round5.command-bar.shadow
			%img.my-arrow-box(src="/assets/timeline-images/arrow-box.png")
			.row(ng-controller="commandCntl")
				%form.navbar-form(ng-submit="runCommand()")
					.span2
						%img.img-circle(ng-src="{{loggedInUser.picture}}")
					.span10.input-append
						%input.span10(type="text" placeholder="{{placeholder}}" ng-model="command")
						%button.btn(type="submit")
							Go!

.row(ng-controller="resourcesCtrl")
	%div(ng-repeat="post in posts" id="post-{{post.id}}"
		%div(timeline-post="post")
