//= require _font-awesome
//= require flipload

body {
    background: url("/assets/bedge_grunge.png");
}

header > h1 {
    text-align: center;
}

#all-posts {
    & > .post > .row {
        margin-left: 0;
        margin-right: 0;
    }

    & > .post > .row > .large-2 > img {
        width: 4.2857em;
        height: auto;
    }

    & time, .post-id {
        font-size: 0.8571em;
        font-family: monospace;
        color: rgba(#222, 0.4);
        display: inline;
    }

    & pre {
        font-family: "Raleway", sans-serif;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    & > .post > .row > .large-11 {

        & .row > .large-2 > img {
            width: 3.4286em;
            height: auto;
        }

        & a.delete-button {
            display: none;
            position: absolute;
            top: 0;
            right: 1em;
            font-size: 0.7143em;
            color: rgba(#666, 0.3);
            &:hover {
                &:after {content: "delete";}
                color: rgba(#666, 1);
            }
        }
    }
}

pre {
    margin-top: 0.7em;
}
