//= require _font-awesome

#body .alert-box {
    position: absolute;
    top: -1.35em;
    left: -12.5em;
    width: 25em;
    z-index: 5;
    & > i { margin-right: 0.5em; }
    & > a { float: right; }
}

#all-posts {
    & > .panel > .row > .large-2 > img {
        width: 4.2857em;
        height: auto;
    }

    & time {
        font-size: 0.8571em;
        font-family: monospace;
        color: rgba(#222, 0.4);
        display: block;
        margin-bottom: 1.35em;
    }

    & form {
        margin-top: 0;
        margin-bottom: 0;
        & textarea, & .button { margin-bottom: 3px; }
        & textarea {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
            overflow-y: hidden;
        }
    }

    & pre {
        font-family: "Raleway", sans-serif;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    & > .panel > .row > .large-10 {

        & .row > .large-2 > img {
            width: 3.4286em;
            height: auto;
        }

        & a.delete-button {
            display: none;
            position: absolute;
            top: 0;
            right: 1em;
            font-size: 0.7143em;
            color: rgba(#666, 0.3);
            &:hover {
                &:after {content: "delete";}
                color: rgba(#666, 1);
            }
        }
    }

    & .reply-placeholder p {
        margin-top: 2em;
        margin-bottom: 0;
        opacity: 0.35;
        cursor: text;
    }

    & .panel > .row.reply-box {
        margin-top: 2em;
        & > .large-2 > img {
            float: right;
            width: 2.7142em;
            height: auto;
        }
    }
}

