//= require _font-awesome

#body .section-container {
    & > .section > .title {
        border: none;
        & > a {
            padding: 0.375em;
            margin-bottom: 0.2143em;
            & > .name  {
                font-family: "Yanone Kaffeesatz", sans-serif;
                font-size: 1.643em;
                color: #2ba6cb;
            }
        }
    }

    & > img {
        margin-bottom: 0.714em;
        width: 4.5714em;
        height: 4.5714em;
    }

    & > p {
        position: relative;
        top: 3.0714em;
    }
}

#body .alert-box .close {font-size: 1em;}

#all-posts {
    & > .panel > .row > .large-2 > img {
        width: 3.4286em;
        height: 3.4286em;
    }

    & time {
        font-size: 0.8571em;
        font-family: monospace;
        color: rgba(#222, 0.4);
        display: block;
        margin-bottom: 1.35em;
    }

    & form {
        margin-top: 2em;
        margin-bottom: 0;
        & textarea, & .button { margin-bottom: 3px; }
        & textarea {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
            overflow-y: hidden;
        }
    }

    & pre {
        font-family: "Raleway", sans-serif;
    }

    & > .panel > .row > .large-10 a.delete-button {
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 0.7143em;
        color: rgba(#666, 0.3);
        &:hover {
            &:after {content: "delete";}
            color: rgba(#666, 1);
        }
    }
}

