/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #fafafa;
}

#body #tLine{
    margin: auto;
}

.panel {
    background-color: transparent;
    border: 0;
    padding: 2em 0 2em 0;
}

#body > hr {
    margin-top: -2em;
}

.panel h1 {
    color: #aaa;
}

.menubar-hidden-field {
    display: inline;
}

.tLine {
    margin-top: -80px;
    width: 560px;
}

.user-name {
    display: inline;
    border: 0px;
    border-bottom: 2px solid #0f0;
    padding: 0 0em.3em 0em;
    margin-left: .7em;
    position: relative;
    top: -2.40em;
}

.menubar-logout {
    border-bottom: 0;
}

.vLine {
    position: relative;
    left: 94px;
    top: 120px;
}

.bigDot {
    position: relative;
    left: -7px;
    top: -2.5em;
}

.formPos {
    position: relative;
    top: 100px;
    left: 105px;
}

#messageForm a {
    margin-left: 10px;
}

#body input {
    display: inline;
}

#body ul {
    margin-left: 1.25em;
}

input.textBox {
    border: 1px solid #2e75ce;
    border-right: 0;
    height: 39px;
    width: 335px;
    direction: ltr;
}

.button {
    padding: 0 0 2px 0;
    margin-left: -8px;
    text-align: center;
    width: 110px;
    height: 39px;
    font-size: 14px;
    color: #2e75ce;
    background-color: #eee;
    border: 1px solid #2e75ce;
    border-left: 1px dashed #2e75ce;
    cursor: pointer;
}

.messagesBox {
    margin-right: 10px;
    /* top: 0px; */
    /* left: 0px; */
    /* width: 550px; */
    /* max-width: 550px; */
}

#messagesBox li {
    list-style: none;
}

.msgblock {
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
    z-index: 1;
}

.dot {
    position: relative;
    top: 16px;
    margin-left: 72px;
    width: 10px;
    height: 10px;
    background: url('dot.png');
}

.profilePic {
    float: left;
}

.shiftRight {
    margin-left: 86px;
}

.commentBox {
    margin: 0 0 20px 94px;
}

input.repTextBox {
    border: 1px solid #aaa;
    border-right: 0;
    margin-left: -3px;
    height: 29px;
    width: 332px;
    direction: ltr;
    background: transparent;
    outline-color: #aaa;
    outline-style: none;
}

.repButton {
    float: right;
    padding: 0;
    margin-left: -8px;
    text-align: center;
    width: 110px;
    height: 29px;
    font-size: 12px;
    color: #000;
    background-color: #eee;
    border: 1px solid #aaa;
    border-left: 1px dashed #aaa;
    cursor: pointer;
    overflow: hidden;
}

.replyBox {
    margin-left: 92px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #555;
    border: 1px solid #ccc;
}

.bgY {
    background: url('vLine.png');
    background-repeat: repeat-y;
    z-index: 3;
}

.round {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.roundRight {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.roundLeft {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.select {
    padding: 2px 3px 3px 3px;
    margin-bottom: 7px;
}

.blankBox {
    height: 120px;
}

.bgTrans {
    background-color: transparent;
}

p {
    font-weight: normal;
    font-size: 16px;
}

.textShadow_a {
    text-shadow: 1px 1px #444;
}

.textShadow_b {
    text-shadow: 1px 1px #aaa;
}

.op-00 {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: ”alpha(opacity=  0)”;
    filter: alpha(opacity=  0);
    opacity: 0;
}

.op-10 {
    -khtml-opacity: .10;
    -moz-opacity: .10;
    -ms-filter: ”alpha(opacity= 10)”;
    filter: alpha(opacity= 10);
    opacity: .10;
}

.op-20 {
    -khtml-opacity: .20;
    -moz-opacity: .20;
    -ms-filter: ”alpha(opacity= 20)”;
    filter: alpha(opacity= 20);
    opacity: .20;
}

.op-30 {
    -khtml-opacity: .30;
    -moz-opacity: .30;
    -ms-filter: ”alpha(opacity= 30)”;
    filter: alpha(opacity= 30);
    opacity: .30;
}

.op-40 {
    -khtml-opacity: .40;
    -moz-opacity: .40;
    -ms-filter: ”alpha(opacity= 40)”;
    filter: alpha(opacity= 40);
    opacity: .40;
}

.op-50 {
    -khtml-opacity: .50;
    -moz-opacity: .50;
    -ms-filter: ”alpha(opacity= 50)”;
    filter: alpha(opacity= 50);
    opacity: .50;
}

.op-60 {
    -khtml-opacity: .60;
    -moz-opacity: .60;
    -ms-filter: ”alpha(opacity= 60)”;
    filter: alpha(opacity= 60);
    opacity: .60;
}

.op-70 {
    -khtml-opacity: .70;
    -moz-opacity: .70;
    -ms-filter: ”alpha(opacity= 70)”;
    filter: alpha(opacity= 70);
    opacity: .70;
}

.op-80 {
    -khtml-opacity: .80;
    -moz-opacity: .80;
    -ms-filter: ”alpha(opacity= 80)”;
    filter: alpha(opacity= 80);
    opacity: .80;
}

.op-90 {
    -khtml-opacity: .90;
    -moz-opacity: .90;
    -ms-filter: ”alpha(opacity= 90)”;
    filter: alpha(opacity= 90);
    opacity: .90;
}

.op-100 {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: ”alpha(opacity=100)”;
    filter: alpha(opacity=100);
    opacity: 1;
}

.copyRight {
    position: absolute;
    left: 120px;
    font-size: 13px;
    color: #aaa;
}

.msgAuthor {
    font-size: 14px;
    font-weight: normal;
    color: #888;
}

.title {
    margin-top: 10px;
    color: #222;
}

li {
    min-height: 45px;
}

li hr {
    margin: -13px 0 0 0;
    width: 395px;
}

.footerVline {
    height: 70px;
    margin-top: -50px;
}

.footer {
    height: 70px;
    padding: 0px 0px 0px 87px;
}

.replyPic {
    position: absolute;
    margin: 10px 10px 10px 10px;
}

.replyMsgBox {
    padding: 2px 20px 5px 55px;
    margin-bottom: 10px;
}

.repTimeBox {
    padding: 8px 20px 10px 55px;
}

.repSelect {
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 60px;
    max-width: 60px;
    height: 31px;
    font-size: 12px;
    color: #000;
    background: url('arrow.png') no-repeat right transparent;
    border: 1px solid #aaa;
    border-right: 0px;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline-color: #aaa;
    outline-style: none;
}

.repSelect:hover {
    border: 1px solid #aaa;
    border-right: 0px;
}

.repSelect:focus {
    border: 1px solid #aaa;
    border-right: 0px;
}

.repSelect:active {
    border: 1px solid #aaa;
    border-right: 0px;
}

.repTextBox:hover {
    border: 1px solid #aaa;
    border-right: 0;
    border-left: 0;
}

.repTextBox:focus {
    border: 1px solid #aaa;
    border-right: 0;
    border-left: 0;
}

.repTextBox:active {
    border: 1px solid #aaa;
    border-right: 0;
    border-left: 0;
}

.right2left {
    direction: rtl;
    text-align: right;
}

.msgContainer {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
}

#submitButton {
    -webkit-transition: color,background-color 0.5s ease-in-out;
    -moz-transition: color,background-color 0.5s ease-in-out;
    -ms-transition: color,background-color 0.5s ease-in-out;
    -o-transition: color,background-color 0.5s ease-in-out;
    transition: color,background-color 0.5s ease-in-out;
    color: #2e75ce;
    background-color: #eee;
}

#submitButton:hover {
    color: #eee;
    background-color: #2e75ce;
}

.deleteButton {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    background: transparent;
    z-index: 3;
}

.postDelButton {
    left: 90px;
    margin-top: 6px;
}
