@import 'perfect-scrollbar';

html, body {
	background-color: #e1e3de;
	height: 100%;
}

.logo {
	margin: -1em 5.5em -1em 3.5em;
}

.sidebar {
	position: fixed;
	width:230px;
	height: 100%;
	left: 0;
	top:0px;
	color: #762d43;
	scroll: none;
	overflow: hidden;
	background-color: #14140D;
}

@media (max-width: 1200px) {
	.sidebar {
		width: 190px;
	}
}

@media (max-width: 979px) {
	header.navbar{
		position: relative;
	}
	.sidebar {
		width: 147px;
	}
}

@media (max-width: 768px) {
	.sidebar {
		width: 0px;
	}
}

.scrollbar-x {
	position: absolute;
	bottom: 5px;
}

.scrollbar-y {
	position: absolute;
	right: 5px;
}
